@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background: #191919;
}

p {
    margin: 5px 0;
    color: white;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight:bolder;
    font-size: 40px;
    padding: 10px 0;
    height: 100px;
    width: 100%;
    background-color: #111;
    color: #fff;
}

#section-main {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5,200px);
    grid-template-rows: 200px;
}


#container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.container:hover {
    filter: brightness(125%);
}

#btn-gnrt{
    margin-top: 20px;
    color: #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font: inherit;
    font-size: larger;
    font-weight: 500;
}
